body{
  padding: 0;
  margin: 0 ;
  box-sizing: border-box;
}

header{
  display: block;
  height: 70px;
  background-color: gray;
}

.fn{
  background-color: violet;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0px 10%;
}

.ik{
  padding-left:0px;
}

li,a,button{
  list-style-type: none;
  color: aliceblue;
  text-decoration: none;
}


.logoo{
  display: flex;
}


.nav_links li{
  display: inline-block;
  padding: 0px 20px;
}

.sn {
  background-color: #24252A;
  display: flex;
  height:40px;
  padding-top:0px;
  justify-content: space-between;
}

.sn ul li{
  display: inline-block;
  padding: 10px;
  top:0;
  font-size: 10px;
}
